<div class="container">
    <div class="text-center">
        <fa-icon class="fa-2x" [icon]="faUserPlus"></fa-icon>    
    </div>
    <hr>
    <h6>{{title}}</h6>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="user">
        <div class="card-body"> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faIdCard'></fa-icon></span>
                </div>
                <input formControlName="cedula" type="text" class="form-control form-control-user" [(ngModel)]="usuario.cedula" 
                    [ngClass]="{'is-invalid': submitted && f.cedula.errors}" 
                    placeholder="Cédula" />
    
                <div *ngIf="submitted && f.cedula.errors" class="invalid-feedback">
                    <div *ngIf="f.cedula.errors.required">La cédula es requerida</div>
                    <div *ngIf="f.cedula.errors.minlength">La cédula debe tener mínimo 10 caracteres</div>
                </div>
            </div>          
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
                </div>
                <input formControlName="nombre" type="text" class="form-control form-control-user" 
                    [(ngModel)]="usuario.nombre" 
                    [ngClass]="{'is-invalid': submitted && f.nombre.errors}" placeholder="Nombre" />
                <div *ngIf="submitted && f.nombre.errors" class="invalid-feedback">
                    <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                </div>
            </div>        
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faUser'></fa-icon></span>
                </div>
                <input formControlName="apellido" type="text" class="form-control form-control-user" 
                    [(ngModel)]="usuario.apellido" [ngClass]="{'is-invalid': submitted && f.apellido.errors}" placeholder="Apellido" />
                <div *ngIf="submitted && f.apellido.errors" class="invalid-feedback">
                    <div *ngIf="f.apellido.errors.required">El apellido es requerido</div>
                </div>
            </div>                
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faCalendar'></fa-icon></span>
                </div>
                <input formControlName="telefono" type="text" class="form-control form-control-user" 
                    [(ngModel)]="usuario.telefono"/>
            </div>        
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faMapMarkedAlt'></fa-icon></span>
                </div>
                <input formControlName="direccion" type="text" class="form-control form-control-user" 
                    [(ngModel)]="usuario.direccion" placeholder="Dirección"/>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faMapMarkedAlt'></fa-icon></span>
                </div>
                <input formControlName="contrasena" type="text" class="form-control form-control-user" 
                    [(ngModel)]="usuario.contrasena" placeholder="Contraseña"/>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faMapMarkedAlt'></fa-icon></span>
                </div>
                <input formControlName="usuario1" type="text" class="form-control form-control-user" 
                    [(ngModel)]="usuario.usuario1" placeholder="Usuario"/>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faMapMarkedAlt'></fa-icon></span>
                </div>
                <input formControlName="correo" type="text" class="form-control form-control-user" 
                    [(ngModel)]="usuario.correo" placeholder="Correo"/>
            </div> 
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><fa-icon [icon]='faGenderless'></fa-icon></span>
                </div>
                <select formControlName="rol" [(ngModel)]="usuario.rol" 
                    [ngClass]="{'is-invalid': submitted && f.rol.errors }" 
                    class="form-control form-control-user">
                    <option value="A">Administrador</option>
                    <option value="C">Cliente</option>                
                </select>            
            </div>         
    
            <div class="btn-group">
                <button type="submit" class="btn btn-success">
                    <fa-icon [icon]='faSave'></fa-icon>&nbsp;Guardar
                </button>
                <button type="reset" (click)="onReset()" class="btn btn-danger">
                    <fa-icon [icon]='faTimes'></fa-icon>&nbsp;Cancelar
                </button>
            </div>
        </div>        
    </form>
</div>